@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg {
    background-image: url('./assests/images/coffee_shop_bg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .bg-coffee {
    background-color: rgba(111, 78, 55, 0.7);
  }

  .bg-card {
    background-color: rgba(255, 248, 231, 0.8);
  }
}
